*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body
{
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}
.sidebar
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	background: gray;
	padding: 6px 14px;


}

.sidebar .logo_content .logo{
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
}



.logo_content .logo i{
	font-size: 20px;
	margin-right: 5px;
}
.logo_content .logo .logo_name{
	font-size: 20px;
	font-weight: 400;
}
.sidebar #btn{
	position: absolute;
	color: #fff;
	left: 90%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translate(-50%);
}
.sidebar ul{
	margin-top: 20px;

}
.sidebar ul li{
	position: relative;
	width: 100%;
	margin: 0 5px;
	list-style: none;
	height: 50px;
	line-height: 50px;

}


.sidebar ul li:hover .tooltip
{
	transition: all 0.5s ease;
	opacity: 100;
	top: 50%;
}

.sidebar ul li input{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 12PX;
	outline: none;
	border: none;
	background: #1d1b31;
	padding-left: 50px;
	font-size: 18px;
	color: #fff;
} 
.sidebar ul li .bx-search{
	position: absolute;
	z-index: 99;
	color: #fff;
	font-size: 22px;
}
.sidebar ul li a{
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: all  0.4s ease;
	border-radius: 12px;
}

.sidebar ul li a:hover {
	color: #11101d;
	background: #fff;


}

.sidebar ul li i{
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;


}
.sidebar .profile_content{
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}
.sidebar .profile_content .profile{
	position: relative;
	padding: 10px 6px;
	height: 60px;
	background: #1d1b31;
}
.profile_content .profile .profile_detail{
	display: flex;
	align-items: center;

}
.profile .profile_detail img
{
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 12px;
}

.profile .profile_detail .name_job
{
	margin-left: 10px;
}
.profile .profile_detail .name
{
	font-size: 15px;
	font-weight: 400;
}
.profile .profile_detail .out{
	font-size: 10px;
	position: absolute;
	left: 190px;
}
.profile .profile_detail .job
{
	font-size: 12px;

}
.profile #logo_out
{
	position: absolute;
	left: 88%;
	bottom: 5px;
	transform: translate(-50%);
	min-width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 12px;
}

.bgimg .img0{
	position: absolute;
	left: 240px;
	height: 100%;
	width: 100%;
	object-fit: cover;

}

.bgimg .home_content
{
	position: absolute;
	height: 100%;
	width: calc(100% - 240px);
	left: 240px;
}
.bgimg .home_content .text{
	font-size: 25px;
	font-weight: 500;
	color: #1d1b31;
	margin: 12px;
}
.bgimg .home_content ul
{
	position: absolute;
	top: 450px;
	left: 50px;
	font-size: 20px;
	display: flex;

}
.bgimg .home_content ul li
{
	list-style: none;
	padding: 30px;
	margin-left: 140px;



}
.bgimg .home_content img{
	height: 200px;
	width: 250px;
	display:block;
	object-fit: cover;
	position: relative;
	left: 20%;
	padding: 5px;
	margin: 15px;

}
.bgimg .home_content .images {
	display: flex;
	position: absolute;
	top: 40%;
	left: 5%;
}
.bgimg .home_content .images img{
	
	box-shadow: 1px 1px 3px;
	border-radius: 5px;
	transition: all 0.5s ease;

}
.bgimg .home_content .images img:hover{
	position: relative;
	bottom: 10px;
	background-color: red;

}



